UPSTASH_REDIS_REST_URL="https://fluent-orca-11386.upstash.io"
UPSTASH_REDIS_REST_TOKEN="ASx6AAIncDIyZDQwZDFlM2NmZmM0MTE2OGFmM2M4MmM3NjcwMGY2N3AyMTEzODY"

VITE_SUPABASE_URL=https://jjbzevntreoxpuofgkyi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqYnpldm50cmVveHB1b2Zna3lpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0NjE4MDIsImV4cCI6MjA4NzAzNzgwMn0.wyyISEMsTEl__QgeckSVWgX1isif8iZOblO8GNso-TQ
